/* src/components/CartPage.css */

.cart-container {
    padding: 20px;
    width: 87.2%;
    margin-top: 20px;
    margin-left: 75px;  
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.cart-item:hover {
    transform: translateY(-5px);
}

.cart-item-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h3 {
    margin: 0;
    color: #555;
}

.cart-item-details p {
    margin: 5px 0;
    color: #777;
}

.delete-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #e04343;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.cart-total h2 {
    margin: 0;
    color: #333;
}
